@import "tailwindcss";

/* BASE THEME VARIABLES */
:root {
  /* Light mode */
  --bg-primary: #ffffff;
  --primary: #007BFF;
  --secondary: #000000;
  --gray: #6E6E6E;
  --accent: #2563EB;
  --border: #E5E7EB;

  --background: var(--bg-primary);
  --foreground: var(--secondary);
}

/* DARK MODE OVERRIDES */
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000000;
    --primary: #7FCFFF; 
    --secondary: #ffffff;
    --gray: #A1A1A1;
    --accent: #3B82F6;
    --border: #1F1F1F;

    --background: var(--bg-primary);
    --foreground: var(--secondary);
  }
} */

/* TAILWIND THEME VARIABLES */
@theme inline {
  --color-bg-primary: var(--bg-primary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-accent: var(--accent);
  --color-border: var(--border);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
